<html ng-app="myModule">
<head>
	<title></title>

	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="voting.js"></script>
</head>
<body >
<div ng-controller="myController">
<table><thead><tr>
<th>Name</th>
<th> like/Dislike</th>
</tr></thead>
<tr ng-repeat="technology in technologies">

	<td><input type="button" value="like" ng-click="incrementLikes(technology)">
         <input type="button" value="dislike" ng-click="incrementDislikes(technology)">
	</td>
</tr>


</table>
</div>
</body>
</html>